<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= pathes[pathes.length - 1].name %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" type="image/png" href="img/site-transformed.png">
    </head>
    <body>
        <%- include('blocks/header.ejs') -%>
        <div class="main-container">
            <%- include('blocks/main-header.ejs') -%>
            <%- include('blocks/path-site.ejs') -%>
            <h3><%= pathes[pathes.length - 1].name %></h3>
                <div class="category">
                    <%  const chunkSize = 4;
                        for (let i = 0; i < categoriesProducts.length; i += chunkSize) {
                            const products = categoriesProducts.slice(i, i + chunkSize); %>
                            <div class="container">
                                <% products.forEach(function(product) {
                                    product=listProducts["/126102"] %>
                                    <div class="block-product">
                                        <div class="image">
                                            <img src="<%= product.imgUrl %>" alt="категория <%= product.id %>"> 
                                        </div>
                                        <div class="caption">
                                            <div style="display: flex;
                                            flex-direction: row-reverse;
                                            justify-content: space-between;">
                                                <p class="col"><%= product.col %></p>
                                                <p class="article"><%= product.article %></p>
                                            </div>
                                            <a href="p<%= product.id %>" class="link"><h3><%= product.name%></h3></a>
                                            <div style="display: flex;
                                            justify-content: space-between;">
                                                <h2 class="price"><%= product.price %>P</h2>
                                                <button class="buy">
                                                    <img class="icon" src="img/svg/card.svg" alt="">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                <% }) %> 
                            </div>
                    <% } %>
            </div>
    </body>
</html>